@page "/"

<PageTitle>Home</PageTitle>

<h1>Восстановление полинома из экспонент</h1>

<p>Эта программа позволяет в интерактивном режиме восстанавливать зависимости вида полиномов из экспонент.</p>

<p><a href=" http://interval.ict.nsc.ru/Education/StudWorks/Zvyagin-MScThesis.pdf">Математическая основа работы</a>
</p>

<p>Если при запуске возникнут проблемы или будут найдены ошибки/опечатки, обратитесь по любому из следующих контактов.</p>

<p>src: <a href="https://github.com/ZvyaginMA/ExpCurvFitting">github репозиторий</a></p>


