@page "/"

<PageTitle>Home</PageTitle>

<h1>Восстановление полиномов из экспонент по интервальным данным</h1>

<p>Эта программа позволяет в интерактивном режиме восстанавливать зависимости вида полиномов из экспонент:</p>
<img src="exp_curv_fit.jpg" width="40%" height="40%" />


<p><a href=" http://interval.ict.nsc.ru/Education/StudWorks/Zvyagin-MScThesis.pdf">Математическая основа работы</a>
</p>

<p>Если при работе с программой возникнут вопросы, проблемы или будут найдены ошибки/опечатки, обратитесь по любому из контактов, указанных на странице с исходным кодом программы.</p>

<p>Исходный код: <a href="https://github.com/ZvyaginMA/ExpCurvFitting">github репозиторий</a></p>


