@page "/"

<PageTitle>Home</PageTitle>

<h1>Восстановление функциональных зависимостей</h1>

<p>Эта программа позволяет в интерактивном режиме восстанавливать зависимости по интервальным данным</p>

<p><a href=" http://interval.ict.nsc.ru/Education/StudWorks/Zvyagin-MScThesis.pdf">Математическая основа работы</a>
</p>

<p>Если при работе с программой возникнут вопросы, проблемы или будут найдены ошибки/опечатки, обратитесь по любому из контактов, указанных на странице с исходным кодом программы.</p>

<p>Исходный код: <a href="https://github.com/ZvyaginMA/ExpCurvFitting">github репозиторий</a></p>


